1. Read the dataset using pandas.

In [2]:
import pandas as pd
movies = pd.read_csv('./ml-20m/movies.csv', sep=',')
movies.head()

,movieId,title,genres
0,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy
1,2,Jumanji (1995),Adventure|Children|Fantasy
2,3,Grumpier Old Men (1995),Comedy|Romance
3,4,Waiting to Exhale (1995),Comedy|Drama|Romance
4,5,Father of the Bride Part II (1995),Comedy

In [3]:
ratings = pd.read_csv('./ml-20m/ratings.csv', sep=',')
ratings.head()

   userId  movieId  rating   timestamp
0       1        2     3.5  1112486027
1       1       29     3.5  1112484676
2       1       32     3.5  1112484819
3       1       47     3.5  1112484727
4       1       50     3.5  1112484580

In [4]:
tags = pd.read_csv('./ml-20m/ratings.csv', sep=',')
tags.head()

   userId  movieId  rating   timestamp
0       1        2     3.5  1112486027
1       1       29     3.5  1112484676
2       1       32     3.5  1112484819
3       1       47     3.5  1112484727
4       1       50     3.5  1112484580

2.Extract the first row from tags and print its type.

In [7]:
tags.iloc[0]
print(tags.iloc[0])

userId       1.000000e+00
movieId      2.000000e+00
rating       3.500000e+00
timestamp    1.112486e+09
Name: 0, dtype: float64

3. Extract row 0, 11, 2000 from tags DataFrame.

In [8]:
tags.iloc[[0,11,2000]]

      userId  movieId  rating   timestamp
0          1        2     3.5  1112486027
11         1      296     4.0  1112484767
2000      18     4967     5.0  1196423446

4. Print index, columns of the DataFrame.

In [9]:
print(tags.index)

RangeIndex(start=0, stop=20000263, step=1)

In [10]:
print(tags.columns)

Index(['userId', 'movieId', 'rating', 'timestamp'], dtype='object')

5. Calculate descriptive statistics for the 'ratings' column of the ratings DataFrame. Verify using describe().

In [11]:
ratings['rating'].describe()

count    2.000026e+07
mean     3.525529e+00
std      1.051989e+00
min      5.000000e-01
25%      3.000000e+00
50%      3.500000e+00
75%      4.000000e+00
max      5.000000e+00
Name: rating, dtype: float64

6. Filter out ratings with rating > 5

In [12]:
ratings[ratings['rating'] > 5]

Empty DataFrame
Columns: [userId, movieId, rating, timestamp]
Index: []

7.Find how many null values, missing values are present. Deal with them. Print out how many rows have been modified.

In [14]:
ratings.isnull().any()

userId       False
movieId      False
rating       False
timestamp    False
dtype: bool

8. Filter out movies from the movies DataFrame that are of type 'Animation'.

In [15]:
movies.head()

,movieId,title,genres
0,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy
1,2,Jumanji (1995),Adventure|Children|Fantasy
2,3,Grumpier Old Men (1995),Comedy|Romance
3,4,Waiting to Exhale (1995),Comedy|Drama|Romance
4,5,Father of the Bride Part II (1995),Comedy

In [16]:
is_animation=movies['genres'].str.contains('Animation')
movies[is_animation]

,movieId,title,genres
0,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy
12,13,Balto (1995),Adventure|Animation|Children
47,48,Pocahontas (1995),Animation|Children|Drama|Musical|Romance
236,239,"Goofy Movie, A (1995)",Animation|Children|Comedy|Romance
241,244,Gumby: The Movie (1995),Animation|Children
310,313,"Swan Princess, The (1994)",Animation|Children
360,364,"Lion King, The (1994)",Adventure|Animation|Children|Drama|Musical|IMAX
388,392,"Secret Adventures of Tom Thumb, The (1993)",Adventure|Animation
547,551,"Nightmare Before Christmas, The (1993)",Animation|Children|Fantasy|Musical
553,558,"Pagemaster, The (1994)",Action|Adventure|Animation|Children|Fantasy
582,588,Aladdin (1992),Adventure|Animation|Children|Comedy|Musical
588,594,Snow White and the Seven Dwarfs (1937),Animation|Children|Drama|Fantasy|Musical
589,595,Beauty and the Beast (1991),Animation|Children|Fantasy|Musical|Romance|IMAX
590,596,Pinocchio (1940),Animation|Children|Fantasy|Musical
604,610,Heavy Metal (1981),Action|Adventure|Animation|Horror|Sci-Fi
610,616,"Aristocats, The (1970)",Animation|Children
624,631,All Dogs Go to Heaven 2 (1996),Adventure|Animation|Children|Fantasy|Musical|R...
653,661,James and the Giant Peach (1996),Adventure|Animation|Children|Fantasy|Musical
664,673,Space Jam (1996),Adventure|Animation|Children|Comedy|Fantasy|Sc...
697,709,Oliver & Company (1988),Adventure|Animation|Children|Comedy|Musical
708,720,Wallace & Gromit: The Best of Aardman Animatio...,Adventure|Animation|Comedy
728,741,Ghost in the Shell (Kôkaku kidôtai) (1995),Animation|Sci-Fi
732,745,Wallace & Gromit: A Close Shave (1995),Animation|Children|Comedy
770,783,"Hunchback of Notre Dame, The (1996)",Animation|Children|Drama|Musical|Romance
871,888,Land Before Time III: The Time of the Great Gi...,Adventure|Animation|Children|Musical
1003,1022,Cinderella (1950),Animation|Children|Fantasy|Musical|Romance
1004,1023,Winnie the Pooh and the Blustery Day (1968),Animation|Children|Musical
1005,1024,"Three Caballeros, The (1945)",Animation|Children|Musical
1006,1025,"Sword in the Stone, The (1963)",Animation|Children|Fantasy|Musical
1010,1029,Dumbo (1941),Animation|Children|Drama|Musical
...,...,...,...
27007,129830,Animals United (2011),Animation|Children|Comedy
27008,129834,Tom and Jerry: The Lost Dragon (2014),Animation|Children|Comedy
27018,129859,Mardock Scramble: The Second Combustion (2011),Animation|Sci-Fi
27054,130034,Stand by Me Doraemon (2014),Animation|Children|Drama|Fantasy
27070,130075,Frozen Fever (2015),Adventure|Animation
27103,130394,The Mascot (1934),Animation
27107,130402,Cardcaptor Sakura: The Sealed Card (2000),Adventure|Animation|Comedy|Fantasy|Romance
27129,130506,Berserk: The Golden Age Arc 2 - The Battle for...,Action|Animation|Fantasy
27130,130508,Berserk: The Golden Age Arc - The Egg of the K...,Action|Adventure|Animation|Fantasy|Horror
27131,130510,Berserk: The Golden Age Arc 3 - Descent (2013),Action|Animation|Fantasy
27135,130518,The Amazing Screw-On Head (2006),Action|Adventure|Animation|Comedy|Sci-Fi
27136,130520,Home (2015),Animation|Children|Comedy|Fantasy|Sci-Fi
27137,130522,The Brave Little Toaster Goes to Mars (1998),Animation|Children
27155,130644,The Garden of Sinners - Chapter 5: Paradox Par...,Animation
27205,131058,Santa's Apprentice (2010),Animation|Children
27208,131066,Ronal the Barbarian (2011),Adventure|Animation|Fantasy
27215,131080,Cinderella III: A Twist in Time (2007),Animation|Children|Fantasy|Romance
27218,131086,The Little Polar Bear: Lars and the Little Tig...,Animation|Children
27221,131092,"Mickey, Donald, Goofy: The Three Musketeers (2...",Adventure|Animation|Children|Comedy
27222,131094,Rudolph the Red-Nosed Reindeer: The Movie (1998),Animation|Children
27224,131098,Saving Santa (2013),Animation|Children|Comedy
27226,131102,Lucky Luke: The Ballad of the Daltons (1978),Animation|Children|Comedy|Western
27228,131106,Casper's Haunted Christmas (2000),Animation|Children
27235,131120,Superstar Goofy (1991),Animation|Children|Comedy
27240,131130,Tom and Jerry: A Nutcracker Tale (2007),Animation|Comedy
27241,131132,Kleines Arschloch - Der Film (1997),Animation|Comedy
27247,131144,Werner - Das muss kesseln!!! (1996),Animation|Comedy
27248,131146,Werner - Volles Rooäää (1999),Animation|Comedy
27269,131243,Werner - Gekotzt wird später (2003),Animation|Comedy
27270,131248,Brother Bear 2 (2006),Adventure|Animation|Children|Comedy|Fantasy

9. Find the average rating of movies.

In [17]:
ratings['rating'].mean()

3.5255285642993797

10. Perform an inner join of movies and tags based on movieId.

In [7]:
t = movies.merge(tags, on='movieId', how='inner')
t.head()

,movieId,title,genres,userId,rating,timestamp
0,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy,3,4.0,944919407
1,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy,6,5.0,858275452
2,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy,8,4.0,833981871
3,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy,10,4.0,943497887
4,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy,11,4.5,1230858821

11. Print out the 5 movies that belong to the Comedy genre and have rating greater than 4.

In [8]:
comedy_movies=movies[movies['genres'].str.contains('Comedy')]
comedy_movies.head()
ratings_4=ratings[ratings['rating']>4]
result_df=comedy_movies.merge(ratings_4,how='inner',on='movieId')
print(result_df.head())

   movieId             title                                       genres  \
0        1  Toy Story (1995)  Adventure|Animation|Children|Comedy|Fantasy
1        1  Toy Story (1995)  Adventure|Animation|Children|Comedy|Fantasy
2        1  Toy Story (1995)  Adventure|Animation|Children|Comedy|Fantasy
3        1  Toy Story (1995)  Adventure|Animation|Children|Comedy|Fantasy
4        1  Toy Story (1995)  Adventure|Animation|Children|Comedy|Fantasy

   userId  rating   timestamp
0       6     5.0   858275452
1      11     4.5  1230858821
2      14     4.5  1225311239
3      19     5.0   855176628
4      34     5.0   846509445

12. Split 'genres' into multiple columns.

In [12]:
movies_genres = movies['genres'].str.split('|',expand = True)
movies_genres

,0,1,2,3,4,5,6,7,8,9
0,Adventure,Animation,Children,Comedy,Fantasy,None,None,None,None,None
1,Adventure,Children,Fantasy,None,None,None,None,None,None,None
2,Comedy,Romance,None,None,None,None,None,None,None,None
3,Comedy,Drama,Romance,None,None,None,None,None,None,None
4,Comedy,None,None,None,None,None,None,None,None,None
5,Action,Crime,Thriller,None,None,None,None,None,None,None
6,Comedy,Romance,None,None,None,None,None,None,None,None
7,Adventure,Children,None,None,None,None,None,None,None,None
8,Action,None,None,None,None,None,None,None,None,None
9,Action,Adventure,Thriller,None,None,None,None,None,None,None
10,Comedy,Drama,Romance,None,None,None,None,None,None,None
11,Comedy,Horror,None,None,None,None,None,None,None,None
12,Adventure,Animation,Children,None,None,None,None,None,None,None
13,Drama,None,None,None,None,None,None,None,None,None
14,Action,Adventure,Romance,None,None,None,None,None,None,None
15,Crime,Drama,None,None,None,None,None,None,None,None
16,Drama,Romance,None,None,None,None,None,None,None,None
17,Comedy,None,None,None,None,None,None,None,None,None
18,Comedy,None,None,None,None,None,None,None,None,None
19,Action,Comedy,Crime,Drama,Thriller,None,None,None,None,None
20,Comedy,Crime,Thriller,None,None,None,None,None,None,None
21,Crime,Drama,Horror,Mystery,Thriller,None,None,None,None,None
22,Action,Crime,Thriller,None,None,None,None,None,None,None
23,Drama,Sci-Fi,None,None,None,None,None,None,None,None
24,Drama,Romance,None,None,None,None,None,None,None,None
25,Drama,None,None,None,None,None,None,None,None,None
26,Children,Drama,None,None,None,None,None,None,None,None
27,Drama,Romance,None,None,None,None,None,None,None,None
28,Adventure,Drama,Fantasy,Mystery,Sci-Fi,None,None,None,None,None
29,Crime,Drama,None,None,None,None,None,None,None,None
...,...,...,...,...,...,...,...,...,...,...
27248,Animation,Comedy,None,None,None,None,None,None,None,None
27249,Comedy,Romance,None,None,None,None,None,None,None,None
27250,Comedy,None,None,None,None,None,None,None,None,None
27251,Comedy,None,None,None,None,None,None,None,None,None
27252,Comedy,None,None,None,None,None,None,None,None,None
27253,Comedy,None,None,None,None,None,None,None,None,None
27254,Comedy,None,None,None,None,None,None,None,None,None
27255,Drama,None,None,None,None,None,None,None,None,None
27256,Drama,Romance,None,None,None,None,None,None,None,None
27257,War,None,None,None,None,None,None,None,None,None
27258,(no genres listed),None,None,None,None,None,None,None,None,None
27259,Drama,None,None,None,None,None,None,None,None,None
27260,Sci-Fi,None,None,None,None,None,None,None,None,None
27261,(no genres listed),None,None,None,None,None,None,None,None,None
27262,Drama,Romance,Thriller,None,None,None,None,None,None,None
27263,Drama,None,None,None,None,None,None,None,None,None
27264,Action,Horror,Thriller,None,None,None,None,None,None,None
27265,Comedy,Romance,None,None,None,None,None,None,None,None
27266,Comedy,None,None,None,None,None,None,None,None,None
27267,Comedy,Drama,None,None,None,None,None,None,None,None
27268,Comedy,Romance,None,None,None,None,None,None,None,None
27269,Animation,Comedy,None,None,None,None,None,None,None,None
27270,Adventure,Animation,Children,Comedy,Fantasy,None,None,None,None,None
27271,Comedy,None,None,None,None,None,None,None,None,None
27272,Comedy,Horror,None,None,None,None,None,None,None,None
27273,Comedy,None,None,None,None,None,None,None,None,None
27274,Comedy,None,None,None,None,None,None,None,None,None
27275,Adventure,None,None,None,None,None,None,None,None,None
27276,(no genres listed),None,None,None,None,None,None,None,None,None
27277,Adventure,Fantasy,Horror,None,None,None,None,None,None,None

13. Extract year from title e.g. (1995).

In [13]:
movies['year']=movies['title'].str.extract('.*\((.*)\).*',expand=True)
movies.head()

,movieId,title,genres,year
0,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy,1995
1,2,Jumanji (1995),Adventure|Children|Fantasy,1995
2,3,Grumpier Old Men (1995),Comedy|Romance,1995
3,4,Waiting to Exhale (1995),Comedy|Drama|Romance,1995
4,5,Father of the Bride Part II (1995),Comedy,1995

14. Select rows based on timestamps later than 2015-02-01.

In [6]:
tags['parsed_time'] = pd.to_datetime(tags['timestamp'], unit='s')
greater_than_t = tags['parsed_time'] > '2015-02-01'

selected_rows = tags[greater_than_t]
print(selected_rows.index)

Int64Index([    3534,     3535,     3536,     3537,     3538,     3539,
                3540,     3541,     3542,     3543,
            ...
            19983972, 19983973, 19983974, 19990177, 19990189, 19990201,
            19990229, 19990240, 19990256, 19990260],
           dtype='int64', length=176136)

15. Sort the tags DataFrame based on timestamp.

In [ ]:
tags.sort_values(by='parsed_time',ascending=True).head(25)